[ConfigInfo]

# Size of the file that is sent to Pfioh (small,medium,large,xlarge)
SIZE=medium

# Number of attempts required to check success rate
RANGE=2

# Number of seconds to wait before ending a non-responding Pfurl command
TIMEOUT=8

# Success rate when program should email
THRESHOLD=70

#Number of seconds to wait for job to execute before checking status of Pman (base value for exponential backoff)
WAIT=5

PMAN_URL=http://pman-radiology.k-apps.osh.massopen.cloud

PFIOH_URL=http://pfioh-radiology.k-apps.osh.massopen.cloud

JID=healthcheckfinal